:root {
    --blue: #007bff;
}

html {
    scroll-behavior: smooth;
}


.body {
    color: white;
    background-color: black;
}

.card-gray {
    position: relative;
    background-color: #111111;
    border-radius: 7px;
}




.gray-text {
    color: #dddddd;
}

