:root {
    --blue: #007bff;
}

html {
    scroll-behavior: smooth;
}


.body {
    color: white;
    background-color: black;
}

.card-gray {
    position: relative;
    background-color: #111111;
    border-radius: 7px;
}

.about {
    margin-top: 40px;
    padding: 30px;
}


.links {
    margin-top: 130px;
    margin-bottom: 120px;
}

.gray-text {
    color: #dddddd;
}

